{% extends 'base.html' %}
    {% block 'main'%}
    <h2 class="mt-5">Add Product</h2>
    <hr style="height: 2px">
    <div class="col-md-8 mt-3 m-auto">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-2">
                    <div class="mb-3">
                    <label for="city" class="form-label">Id</label>
                    <input type="text" class="form-control" name="id" value="">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="mb-3">
                    <label for="residencyname" class="form-label">Shape</label>
                    <input type="text" class="form-control" name="shape" value="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="flatno" class="form-label">Size</label>
                        <input type="text" class="form-control" name="size" value="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="flowrno" class="form-label">Location</label>
                        <input type="text" class="form-control" name="location" value="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="date" class="form-label">Price</label>
                        <input type="text" class="form-control" name="price" value="">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        {% endblock %}